.*
.github/**
.vscode-test/**
.vscode/**
**/*.map
**/*.ts
build.yml
coverage/**
coverconfig.json
jsconfig.json
out/test/**
out/tools/**
package-lock.json
package.json.bak
pnpm-lock.yaml
scss/**
src/**
svn-scm.vsix
test-reports
test/**
tsconfig.json
tslint.json
vsc-extension-quickstart.md
.dependabot/**
images/docs/**
bin
vite.config.ts
.gitignore
.yarnrc
.github/**
DIFFERENCES.md

out/**
!out/extension.js*